.feed {
  box-shadow: var(--shadow-sm);
  border-radius: var(--br-xs);
  background-color: var(--color-gray);
  border: 1px solid var(--neutral-pink-100);
  box-sizing: border-box;
  flex-direction: column;
  padding: var(--padding-3xl) var(--padding-4xl);
  gap: var(--gap-base);
  flex-shrink: 0;
  max-width: 100%;
  text-align: left;
  font-size: var(--caption-semi-bold-size);
  color: var(--shades-black);
  font-family: var(--paragraph-p1-regular);
  margin-left: auto;
  margin-right: auto;
}
